Source: ros-lunar-pacmod3
Section: misc
Priority: extra
Maintainer: AutonomouStuff Software Team <software@autonomoustuff.com>
Build-Depends: debhelper (>= 9.0.0), ros-lunar-can-msgs, ros-lunar-catkin, ros-lunar-pacmod-msgs, ros-lunar-roscpp, ros-lunar-std-msgs
Homepage: 
Standards-Version: 3.9.2

Package: ros-lunar-pacmod3
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-lunar-can-msgs, ros-lunar-pacmod-msgs, ros-lunar-roscpp, ros-lunar-std-msgs
Description: AutonomouStuff PACMod v3 Driver Package
