Source: ros-indigo-pacmod3
Section: misc
Priority: extra
Maintainer: AutonomouStuff Software Team <software@autonomoustuff.com>
Build-Depends: debhelper (>= 9.0.0), ros-indigo-can-msgs, ros-indigo-catkin, ros-indigo-pacmod-msgs, ros-indigo-roscpp, ros-indigo-std-msgs
Homepage: http://wiki.ros.org/pacmod3
Standards-Version: 3.9.2

Package: ros-indigo-pacmod3
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-indigo-can-msgs, ros-indigo-pacmod-msgs, ros-indigo-roscpp, ros-indigo-std-msgs
Description: AutonomouStuff PACMod v3 Driver Package
